body {
 width: 100vw;
 height: 100vh;
 background: url('./assets/bg.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
 color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
